<!doctype html>
<html lang="zh-tw" data-theme="emerald">
  <head style="height: 100%; width: 100%;">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/immersive-translate.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

    <title>國立台北科技大學附屬診所</title>
  </head>
  <body style="height: 100%; width: 100%; overflow-x: hidden;">
    <!-- navbar -->
    <div class="navbar mb-0 fixed w-full z-50 top-0 bg-base-100 text-base-content">
      <div class="px-4 mx-2 navbar-start">
        <span class="text-lg font-bold brand">
          <a href="/">國立台北科技大學附屬診所</a>
        </span>
      </div>

      <!-- desktop menu on the right -->
      <div class="navbar-end px-4 mx-2">
        <nav class="nav-actions">
          <ul class="menu menu-horizontal">
            <li><a href="/" class="ghost-btn rounded-lg">首頁</a></li>
          </ul>
        </nav>

        <!-- mobile dropdown (visible only on small screens) -->
        <div class="dropdown dropdown-end lg:hidden">
          <div tabindex="0" class="m-1 btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </div>
            <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
            <li><a href="/">首頁</a></li>
          </ul>
        </div>
      </div>
    </div>


  <!-- hero -->
  <main class="main-content">
    <div class="hero bg-base-100" style="padding-top:72px;">
      <div class="container">
        <div class="hero-content flex-col md:flex-row items-start justify-start gap-8">
          <div class="hero-image">
            <img src="{{url_for('static', filename='hero_img.svg')}}" class="hero-illustration" />
          </div>
          <div class="hero-aside">
            <h1 class="text-5xl font-bold">國立台北科技大學附屬診所</h1>
            <div class="hero-cta vertical mt-4">
              <form method="post" enctype="multipart/form-data">
                <button name="start" value="start" class="btn btn-primary">工作人員登入</button>
              </form>
              <a href="{{ url_for('appointment') }}" class="btn btn-primary">看診預約</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->

  <footer class="footer p-10 bg-base-200 text-base-content">
    <div>
      <h1 class="text-xl font-bold">國立台北科技大學附屬診所</h1>
      <p>北科大 醫電工程與感測器網路實驗室</p>
    </div> 
    <div>
      <span class="footer-title">所址： 10608臺北市大安區忠孝東路三段1號</span> 
      <p>總機： #2253</p> 
      <p>負責人： 蔡霆鋒</p> 
    </div> 
  
    <div>
      <span class="footer-title">前/後端工程師</span> 
      <p>114368062 范祥偉</p> 
      <p>114368063 蔡霆鋒</p> 
    </div>
    <div>
      <span class="footer-title">資料庫設計</span> 
      <p>114368062 范祥偉</p> 
      <p>114368063 蔡霆鋒</p> 
    </div>
  </footer>

  </body>
</html>